@charset "utf-8";

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    padding-top: 5.0rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: 700;
}

.text-profile-position {
    font-weight: 400;
}

.text-profile-bio {
    /* font-family: "Raleway"; */
    font-weight: 400;
}

.navbar {
    opacity: 0.95;
}

.inline-badge {
    height: 16px;
    vertical-align: -10%;
    margin-right: 2px;
    line-break: unset;
}

.no-break {
    white-space: nowrap;
}

.cover-image {
    width: 180px;
    max-height: 120px;
}

.abstract-body {
    min-height: 100px;
}

img.lazy {
    background-image: url('images/loading.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 50px 50px;
    min-height: 80px;
}

.badge-custom {
    font-size: 100%;
}

.email-text {
    font-family: Courier, monospace;
}


.datasets-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.dataset-block {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    width: calc(33.333% - 20px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.dataset-block img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.dataset-block h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

.dataset-block p {
    font-size: 1em;
    margin-bottom: 15px;
}

.dataset-block a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

.dataset-block a:hover {
    text-decoration: underline;
}